In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
# Data Science Tools and Ecosystem are summarized.

In [1]:
# Some of the popular language are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. Julia

In [ ]:
# Data Science Libraries
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn

In [ ]:
# Data Science Tools
1. Anaconda
2. Jupyter Notebooks
3. R Studio
4. Spyder
5. Zeppelin

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
hour=200
minute=60
(hour/minute)

3.3333333333333335

# Objective

In [ ]:
- Some of the popular language
- Data Science Libraries
- Data Science Tools

## Authors

In [ ]:
Ilham